@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: url(../public/back.jpeg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}

.will-change-transform {
  will-change: transform;
}

.cursor::after {
  display: block;
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor 0.6s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {
  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}


/* @font-face {
  font-family: neon;
  src: url(../public/NEON.TTF);
} */
.neon-wrapper {
  box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e50bb9,
    0 0 4vw 0.4vw #b457f2, inset 0 0 1.5vw 0.4vw #b457f2,
    inset 0 0 0.4vw 0.2vw #e50bb9, inset 0 0 0.5vw 0.2vw #fff7f7;
  border-radius: 1.5rem;
}
.neon-text {
  font-family: neon;
  font-size: 3rem;
  color: #ffd8d8;
  padding: 0 3.5rem 0 3.5rem;
  text-shadow: 0.1vw 0vw 0.25vw #ffd8d8, 0.2vw 0vw 0.25vw #ffd8d8,
    0.4vw 0vw 0.25vw #ffd8d8, 0.1vw 0vw 0vw #578df2, 0.2vw 0vw 0vw #578df2,
    0.4vw 0vw 0vw #b457f2, 0.1vw 0vw 0.1vw #578df2, 0.2vw 0vw 0.1vw #b457f2,
    0.4vw 0vw 0.1vw #b457f2, 0.1vw 0vw 2vw #b457f2, 0.2vw 0vw 2vw #b457f2,
    0.4vw 0vw 2vw #b457f2, 0.1vw 0vw 1vw #e50bb9, 0.2vw 0vw 1vw #e50bb9,
    0.4vw 0vw 5vw #e50bb9, 0.1vw 0vw 5vw #e50bb9, 0.2vw 0vw 20vw #e50bb9,
    0.4vw 0vw 10vw #e50bb9, 0.1vw 0vw 10vw #e50bb9, 0.2vw 0vw 30vw #e50bb9,
    0.4vw 0vw 10vw #e50bb9;
}
